name: Publish Release
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish, by semver keyword.'
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      # NPM automation token (skips 2FA)
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.KAMINOBOT_WRITE_REPO_PAT }} # use bot to avoid branch protection

      - name: Setup .npmrc file for publish
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure Git User
        run: |
          git config --global user.name "Kamino Bot"
          git config --global user.username "kaminofinancebo"
          git config --global user.email "dev@kamino.finance"

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Build package
        run: yarn build

      - name: Get latest version kliquidity-sdk
        id: get_latest_version
        run: |
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          echo "Current branch: $CURRENT_BRANCH"

          if [ "$CURRENT_BRANCH" = "master" ]; then
            latest_version=$(npm view @kamino-finance/kliquidity-sdk version)
            echo "Using published npm version: $latest_version"
          else
            latest_version=$(jq -r '.version' package.json)
            echo "Using local package.json version: $latest_version"
          fi

          echo "::set-output name=latest_version::$latest_version"

      - name: Bump version
        uses: anothrNick/github-tag-action@2fa498388d20664f4474176ac45845e037377886
        id: semver
        env:
          GITHUB_TOKEN: ${{ secrets.KAMINOBOT_WRITE_REPO_PAT }}
          DEFAULT_BUMP: ${{ inputs.version }}
          DEFAULT_BRANCH: master
          INITIAL_VERSION: ${{ steps.get_latest_version.outputs.latest_version }}
          WITH_V: false
          RELEASE_BRANCHES: master
          TAG_CONTEXT: repo
          PRERELEASE: false
          VERBOSE: false

      - name: Publish to npm
        run: yarn publish --new-version ${{ steps.semver.outputs.new_tag }}

      - name: Create git commit
        run: |
          yarn config set version-git-message "@kamino-finance/kliquidity-sdk:%s"
          yarn version --new-version ${{ steps.semver.outputs.new_tag }}

          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          echo "Current branch: $CURRENT_BRANCH"

          if [ "$CURRENT_BRANCH" = "master" ]; then
            echo "On master branch, pushing changes..."
            git push --force origin master
          else
            echo "Not on master branch, skipping push."
          fi

      - name: Create Git tag
        if: steps.semver.outputs.tag_created == 'true'
        run: |
          git tag "v${{ steps.semver.outputs.new_tag }}"
          git push origin ${{ steps.semver.outputs.new_tag }}
